/* @media screen and (max-height: 590px) {

    .mainImage {
        max-height: 400px;
        max-width: 400px;
        height: 100vh;
        width: 100vh;
    }

    .thumbnails {
        flex-direction: column;
    }

    .close {
        align-items: flex-start;
    }

    @media screen and (max-width: 473px) {
        .vertical {
            display: none;
        }

        .thumbnails {
            display: none;
        }
    }
}

@media screen and (min-height: 590px) {

    .close {
        justify-content: end;
    }
} */